<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jogo da Forca</title>
    <!-- IMPORTS EXTERNOS -->
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <!-- IMPORTS EXTERNOS -->
    <!-- IMPORTS INTERNOS -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}" />
    <!-- IMPORTS INTERNOS -->
  </head>
  <body class="body">
    <header>
      <h1>Derrota!!</h1>
      <p>Tente outra vez</p>
    </header>
    <div>
      <form class="card-body" action="/game" method="get">
        <button class="btn btn-primary" type="submit">Reiniciar!</button>
      </form>
    </div>

    <!-- IMPORTS EXTERNOS -->
    <script type="text/javascript" th:src="@{/js/react/react.js}"></script>
    <script type="text/javascript" th:src="@{/js/react/react-dom.js}"></script>
    <!-- IMPORTS EXTERNOS -->
    <!-- IMPORTS INTERNOS -->
    <!-- IMPORTS INTERNOS -->
  </body>
</html>
