<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jogo da Forca</title>
    <!-- IMPORTS EXTERNOS -->
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <!-- IMPORTS EXTERNOS -->
    <!-- IMPORTS INTERNOS -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}" />
    <!-- IMPORTS INTERNOS -->
  </head>
  <body class="body">
    <header>
      <h1>Jogo do Forca</h1>
    </header>

    <div id="app"></div>

    <footer>
      <p>Alunos: Joel Graf e Gustavo Blasius</p>
    </footer>

    <!-- IMPORTS EXTERNOS -->
    <script type="text/javascript" th:src="@{/js/react/react.js}"></script>
    <script type="text/javascript" th:src="@{/js/react/react-dom.js}"></script>
    <!-- IMPORTS EXTERNOS -->
    <!-- IMPORTS INTERNOS -->
    <script type="text/javascript" th:src="@{/js/game.js}"></script>
    <!-- IMPORTS INTERNOS -->
  </body>
</html>
